html, body{
  background-color: #FBFAA4;
  font-family: sans-serif;
  text-align: justify;
}
h1{
  text-align: center;
}
footer{
  border-top-style: solid;
  font-size: 8pt;
  padding-top: 10pt;
  text-align: center;
  font-style: oblique;
  font-weight: bolder;
}
header p{
  text-align: center;
  font-weight: bolder;
}
nav {
  background-color:#3c5ba6 ;
  font-size:15pt;
}
ul.nav{
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
nav a:link,nav a:visited,nav a:active{
  text-decoration: none;
  color: #ffcb05;
}
footer a:link,footer a:visited,footer a:active{
  text-decoration: none;
  color: #100;
}
footer a:hover{
  color: #3c5ba6;
}
a.act:link, a.act:visited, a.act:active{
  color: white;
  opacity: 0.5;
  font-style:italic;
}
nav a:hover {
  color:#100;
}
#principal a:link, #principal a:visited, #principal a:active{
  color: #3c5ba6;
  font-weight: bold;
  text-decoration: none;
}
#principal a:hover{
  color: #100;
  border: 1px dotted black;
  background-color: #ffcb05;
}
li{
  margin: 10pt;
}
#principal{
  margin-right: 20px;
  margin-left: 20px;
}
table, td, th{
  border: 1px solid black;
  text-align: left;
  margin-bottom: 15px;
  border-collapse:collapse;
}
th{
  text-align: center;
  background-color: #ffcb05;
  color: #3c5ba6;
}
td {
  padding-left: 10px;
  padding-right: 5px;
  vertical-align:text-top;
}
.center{
  text-align: center;
}
.imleft{
  float: left;
}
.imright{
  float: right;
  margin: 15px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
h3, h4, h5, h6{
  color: #3c5ba6;
  font-style:italic;
}